<a href="https://colab.research.google.com/github/mekazanc/DataProcessing/blob/main/PandasTricks2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Manipulation with Pandas Series - II

#### In this tutorial, I added some basic pandas data manipulation steps of a tabular data. Note that I received some parts from the Coray Schafer's Youtube channel. You can look at it to gain more insights about pandas.

Load data by wget command from the dropbox. Note that you can create a link for a file in the Dropbox to receive such a file.

In [1]:
!wget -O train.csv https://www.dropbox.com/s/va9i1tfmsuvkx4r/train.csv?dl=0

--2020-10-21 08:05:52--  https://www.dropbox.com/s/va9i1tfmsuvkx4r/train.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.1, 2620:100:6018:1::a27d:301
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/va9i1tfmsuvkx4r/train.csv [following]
--2020-10-21 08:05:52--  https://www.dropbox.com/s/raw/va9i1tfmsuvkx4r/train.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc4804e96e46c0495a3481d452d5.dl.dropboxusercontent.com/cd/0/inline/BBpvk6otX8eI7tqaP2uyL3zcH3qOfJJUTEmY8Mvb5Gb8HLNrgoSOpOm6epWNPEsscxytvK9BaDvvrggREFZZdqKKl80um25m59Mv2Bk7v94rqcjeaNMzHOsfS7jSjj2fNhU/file# [following]
--2020-10-21 08:05:52--  https://uc4804e96e46c0495a3481d452d5.dl.dropboxusercontent.com/cd/0/inline/BBpvk6otX8eI7tqaP2uyL3zcH3qOfJJUTEmY8Mvb5Gb8HLNrgoSOpOm6epWNPEsscxytvK9BaDvvrggREFZZdqKKl80um25m59Mv2Bk7v94rqcjeaNMzHOsfS7jSjj2fNhU/file
Resolving uc4804e96e46c0495a3481d452d5.dl.dropboxusercontent.com (uc4804e96e46c0495a3481d452d5.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:6018:15::a27d:30f
Connecting to uc4804e96e46c0495a3481d452d5.dl.dropboxusercontent.com (uc4804e96e46c0495a3481d452d5.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 460676 (450K) [text/plain]
Saving to: ‘train.csv’

train.csv           100%[===================>] 449.88K  --.-KB/s    in 0.05s

2020-10-21 08:05:53 (9.13 MB/s) - ‘train.csv’ saved [460676/460676]

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
color = sns.color_palette()
sns.set_style('ticks')
import numpy as np
from scipy import stats
from scipy.stats import norm, skew #for some statistics

Load Data

In [3]:
train = pd.read_csv("train.csv")
train.head(5)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

Shape of the Data

In [4]:
#check the numbers of samples and features
print("The train data size is : {} ".format(train.shape))

The train data size is : (1460, 81)

Manipulating the Data

In [5]:
train = train.iloc[0:1000, 0:11]
train.head()

   Id  MSSubClass MSZoning  ...  LandContour  Utilities LotConfig
0   1          60       RL  ...          Lvl     AllPub    Inside
1   2          20       RL  ...          Lvl     AllPub       FR2
2   3          60       RL  ...          Lvl     AllPub    Inside
3   4          70       RL  ...          Lvl     AllPub    Corner
4   5          60       RL  ...          Lvl     AllPub       FR2

[5 rows x 11 columns]

In [6]:
train['MSSubClass'].median()

50.0

In [7]:
train.describe() #this will generate numerical attributes.

                Id   MSSubClass  LotFrontage        LotArea
count  1000.000000  1000.000000    827.00000    1000.000000
mean    500.500000    56.880000     69.95526   10691.176000
std     288.819436    42.256375     23.20269   11412.668294
min       1.000000    20.000000     21.00000    1300.000000
25%     250.750000    20.000000     60.00000    7585.250000
50%     500.500000    50.000000     70.00000    9451.000000
75%     750.250000    70.000000     80.00000   11628.500000
max    1000.000000   190.000000    313.00000  215245.000000

In [8]:
train.median() #this will show median values of all attributes.

Id              500.5
MSSubClass       50.0
LotFrontage      70.0
LotArea        9451.0
dtype: float64

In [9]:
train['Street'].value_counts()

Pave    996
Grvl      4
Name: Street, dtype: int64

In [10]:
train['Street'].value_counts(normalize = True)

Pave    0.996
Grvl    0.004
Name: Street, dtype: float64

In [11]:
LotConfig = train.groupby(['LotConfig'])

In [14]:
LotConfig['LotShape'].value_counts()

LotConfig  LotShape
Corner     Reg         106
           IR1          74
           IR2           6
CulDSac    IR1          52
           IR2          12
           Reg           1
FR2        Reg          19
           IR1          10
           IR2           2
FR3        IR1           1
           Reg           1
Inside     Reg         496
           IR1         204
           IR2          13
           IR3           3
Name: LotShape, dtype: int64

In [16]:
LotConfig['LotShape'].value_counts(normalize = True).loc['Corner']

LotShape
Reg    0.569892
IR1    0.397849
IR2    0.032258
Name: LotShape, dtype: float64

Group by  LatConfig and Show Median Value of LotArea for each created group.

In [21]:
train.groupby(['LotConfig'])['LotArea'].median()

LotConfig
Corner     10411.0
CulDSac    12011.0
FR2         9600.0
FR3         7176.5
Inside      9049.0
Name: LotArea, dtype: float64

In [25]:
train.groupby(['LotConfig'])['LotArea'].median()['Corner']

10411.0

Using Aggregate Functions

In [30]:
# agg method will generate mean and median of each subclass of group. 
# train.groupby(['LotConfig']).agg(['mean','median'])
train.groupby(['LotConfig'])['MSSubClass'].agg(['mean','median'])

                mean  median
LotConfig
Corner     52.284946      50
CulDSac    53.307692      60
FR2        65.161290      60
FR3        95.000000      95
Inside     57.932961      50

In [29]:
train.head()

   Id  MSSubClass MSZoning  ...  LandContour  Utilities LotConfig
0   1          60       RL  ...          Lvl     AllPub    Inside
1   2          20       RL  ...          Lvl     AllPub       FR2
2   3          60       RL  ...          Lvl     AllPub    Inside
3   4          70       RL  ...          Lvl     AllPub    Corner
4   5          60       RL  ...          Lvl     AllPub       FR2

[5 rows x 11 columns]

Load A New Data

In [35]:
!wget -O survey_results_public.csv https://www.dropbox.com/s/w6tjen1cw4nqjd0/survey_results_public.csv?dl=0

--2020-10-21 10:41:11--  https://www.dropbox.com/s/w6tjen1cw4nqjd0/survey_results_public.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.1, 2620:100:6018:1::a27d:301
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/w6tjen1cw4nqjd0/survey_results_public.csv [following]
--2020-10-21 10:41:12--  https://www.dropbox.com/s/raw/w6tjen1cw4nqjd0/survey_results_public.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc4d9a71da2846bcbf33678f43b6.dl.dropboxusercontent.com/cd/0/inline/BBqhFDPNxcc4AM5N4zh8VX2YCnnhyKl_x7oiUa3wg-XpjSUvIw33iWNThhNt13CrlG4AMeX1EO_wWz08AzNc_atjBUH9wi2EMSNQG6Mua4ZJcc1df63TXktFV7nVFtVVck0/file# [following]
--2020-10-21 10:41:12--  https://uc4d9a71da2846bcbf33678f43b6.dl.dropboxusercontent.com/cd/0/inline/BBqhFDPNxcc4AM5N4zh8VX2YCnnhyKl_x7oiUa3wg-XpjSUvIw33iWNThhNt13CrlG4AMeX1EO_wWz08AzNc_atjBUH9wi2EMSNQG6Mua4ZJcc1df63TXktFV7nVFtVVck0/file
Resolving uc4d9a71da2846bcbf33678f43b6.dl.dropboxusercontent.com (uc4d9a71da2846bcbf33678f43b6.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:6018:15::a27d:30f
Connecting to uc4d9a71da2846bcbf33678f43b6.dl.dropboxusercontent.com (uc4d9a71da2846bcbf33678f43b6.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 93097088 (89M) [text/plain]
Saving to: ‘survey_results_public.csv’

survey_results_publ 100%[===================>]  88.78M  69.4MB/s    in 1.3s

2020-10-21 10:41:14 (69.4 MB/s) - ‘survey_results_public.csv’ saved [93097088/93097088]

In [36]:
data = pd.read_csv("survey_results_public.csv",error_bad_lines=True)
data.head()

   Respondent  ... ExpectedSalary
0           1  ...            NaN
1           2  ...        37500.0
2           3  ...            NaN
3           4  ...            NaN
4           5  ...            NaN

[5 rows x 154 columns]

In [37]:
#create grouped data by country
cdata = data.groupby(['Country'])

In [38]:
# get one of the groups
cdata.get_group('United Kingdom').head()

    Respondent                         Professional  ...    Salary ExpectedSalary
1            2                              Student  ...       NaN        37500.0
2            3               Professional developer  ...  113750.0            NaN
12          13  Used to be a professional developer  ...       NaN            NaN
14          15               Professional developer  ...  100000.0            NaN
16          17               Professional developer  ...       NaN            NaN

[5 rows x 154 columns]

In [43]:
# Get Turkey's "MajorUndergrad" counts 
# cdata['MajorUndergrad'].value_counts(normalize=True) 
cdata['MajorUndergrad'].value_counts(normalize=True)['Turkey']

Respondent
59       0.002755
98       0.002755
102      0.002755
130      0.002755
720      0.002755
           ...
49643    0.002755
50038    0.002755
50327    0.002755
50344    0.002755
51158    0.002755
Name: Respondent, Length: 363, dtype: float64

In [42]:
cdata['Respondent'].median().loc['Turkey']

26601.0

In [44]:
cdata['Respondent'].agg(['median', 'mean']).loc['Turkey']

median    26601.000000
mean      25083.647383
Name: Turkey, dtype: float64

In [74]:
# cdata['StackOverflowDevices'].apply(lambda x: x.str.contains('iOS').sum())
cdata['Professional'].apply(lambda x: x.str.contains('Professional').sum()*100 / x.count())

Country
Afghanistan              56.666667
Aland Islands            63.636364
Albania                  61.842105
Algeria                  56.097561
American Samoa           20.000000
                           ...
Virgin Islands (USA)    100.000000
Yemen                    66.666667
Zaire                   100.000000
Zambia                   90.000000
Zimbabwe                 70.000000
Name: Professional, Length: 201, dtype: float64

In [51]:
# create number of respondents for each group. 
country_respondents = data['Country'].value_counts()
country_respondents

United States       11455
India                5197
United Kingdom       4395
Germany              4143
Canada               2233
                    ...
Pitcairn Island         1
Burkina Faso            1
Falkland Islands        1
Gibraltar               1
Guinea                  1
Name: Country, Length: 201, dtype: int64

In [70]:
# create number of respondents for each group. 
country_are_prof = cdata['Professional'].apply(lambda x: x.str.contains('Professional').sum())
country_are_prof

Country
Afghanistan             34
Aland Islands           14
Albania                 47
Algeria                 23
American Samoa           1
                        ..
Virgin Islands (USA)     5
Yemen                    2
Zaire                    2
Zambia                   9
Zimbabwe                14
Name: Professional, Length: 201, dtype: int64

In [71]:
# concat two dataframe 
newdata = pd.concat([country_respondents, country_are_prof], axis=1, sort=False)
newdata.columns = ['NoOfRespondents', 'NoOfProfs']
newdata.head()

                NoOfRespondents  NoOfProfs
United States             11455       9509
India                      5197       3877
United Kingdom             4395       3707
Germany                    4143       3260
Canada                     2233       1791

In [72]:
newdata['PctOfProfs'] = (newdata['NoOfProfs']/newdata['NoOfRespondents']) * 100
newdata.head()

                NoOfRespondents  NoOfProfs  PctOfProfs
United States             11455       9509   83.011785
India                      5197       3877   74.600731
United Kingdom             4395       3707   84.345848
Germany                    4143       3260   78.686942
Canada                     2233       1791   80.206001

In [76]:
newdata.sort_values(by='PctOfProfs', ascending=False, inplace=True)
newdata.loc['Turkey']

NoOfRespondents    363.000000
NoOfProfs          280.000000
PctOfProfs          77.134986
Name: Turkey, dtype: float64